:root {
  --danger: #e75625;
  --alert: #ee572a;
  --light: #ffffff;
  --dark_light: #fafafa;
  --dark: #000000;
  --light_dark: #272727;
  --slate: #e8e8e8;
  --light_grey: #989898;
  --dark_grey: #5f5f5f;
}

@font-face {
  font-family: "Avenir Heavy";
  src: url(../fonts/Avenir-Heavy.ttf);
}
@font-face {
  font-family: "Avenir Light";
  src: url(../fonts/Avenir-Light.ttf);
}
@font-face {
  font-family: "Avenir Medium";
  src: url(../fonts/Avenir-Medium.ttf);
}
@font-face {
  font-family: "Avenir Next Bold ";
  src: url(../fonts/Avenir-Next-Bold.ttf);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark_light);
  padding-bottom: 230px;
}

.btn {
  font-family: "Avenir Heavy";
  padding: 10px 0px;
}

.btn-danger {
  color: var(--light);
  background-color: var(--alert);
  border: 0px;
}

.btn-danger:hover {
  background-color: var(--alert);
  opacity: 0.8;
}

.btn-danger:active {
  color: var(--light);
  background-color: var(--green);
  border: 0px;
  opacity: 0.8;
}

.btn-danger.active {
  color: var(--light);
  background-color: var(--green);
  border: 0px;
}

.btn-danger:focus {
  color: var(--light);
  background-color: var(--green);
  border: 0px;
}

.btn-primary {
  color: var(--alert);
  background-color: var(--dark_light);
  border: 2px solid var(--alert);
}

.btn-primary:hover {
  background-color: var(--alert);
  border: 0px;
}

.btn-primary:focus {
  background-color: var(--alert);
  border: 0px;
}

.btn-primary:active {
  background-color: var(--alert);
  border: 0px;
}

.btn-primary.active {
  background-color: var(--alert);
  border: 0px;
}

.btn-warning {
  color: var(--danger);
  background-color: var(--light);
  border: 2px solid var(--danger);
}

.btn-warning:hover {
  color: var(--light);
  background-color: var(--danger);
  border: 2px solid var(--danger);
}

.btn-warning:active {
  color: var(--light);
  background-color: var(--danger);
  border: 2px solid var(--danger);
}

.btn-warning.active {
  color: var(--light);
  background-color: var(--danger);
  border: 2px solid var(--danger);
}

.btn-warning:focus {
  color: var(--light);
  background-color: var(--danger);
  border: 2px solid var(--danger);
}

.glyphicon {
  top: 0px;
  font-size: 10px;
}

.navbar-default {
  background-color: var(--light-light);
  border-color: #e7e7e7;
}

.dropdown-menu li {
  font-size: 16px;
  font-family: "Avenir Heavy";
  padding: 10px 0px;
}

.dropdown-menu a {
  color: var(--dark);
}

.dropdown-menu {
  position: absolute;
  top: 65px;
  z-index: 1000;
  min-width: 10px;
  font-size: 16px;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus {
  color: var(--alert);
  text-decoration: none;
  background-color: var(--light);
}

.navbar-nav :hover,
.navbar-nav:focus {
  color: var(--alert);
}

.navigation {
  padding-bottom: 10px;
  margin-bottom: 75px;
  background-color: var(--light);
}
.navigation__logo {
  padding-top: 20px;
}
.navigation__title {
  padding-top: 18px;
  font-size: 18px;
}
.navigation__title--big {
  color: var(--alert);
  font-family: "Avenir Heavy";
}
.navigation__title--sm {
  font-size: 16px;
  font-family: "Avenir Heavy";
}
.navigation__profile {
  padding-top: 3px;
  font-size: 16px;
  color: var(--dark);
  font-family: "Avenir Heavy";
}
@media screen and (min-width: 400px) {
  .navigation__title--big {
    padding-left: 50px;
  }
}
@media screen and (max-width: 767px) {
  .navigation {
    margin-bottom: 10px;
  }
}

.trial {
  background-color: var(--light);
  padding: 50px 40px;
  box-shadow: 5px 5px 50px #e3e3e3;
}
.trial__rchevron {
  margin-left: 10px;
}
.trial__tick {
  margin-left: 10px;
}
.trial__progress {
  font-family: "Avenir Light";
}
.trial__urblock {
  display: flex;
  flex-flow: column wrap;
  gap: 22px;
}
.trial__btns {
  margin-top: 17px;
}
.trial__btn {
  margin-top: 13px;
}
.trial__lwblock_h {
  margin-top: 55px;
  margin-bottom: 3px;
  padding-left: 40px;
}
.trial__developer {
  padding-left: 15px;
}
.trial__developer_type {
  width: 250px;
  height: 93.75px;
}
.trial__developer_img {
  width: 125px;
  height: 93.75px;
}
.trial__developer_boxes {
  margin-top: 29px;
}
.trial__heading {
  font-size: 28px;
}
@media screen and (max-width: 767px) {
  .trial {
    margin-top: 10px;
  }
  .trial__urblock {
    margin-left: 0px;
  }
  .trial__urblock h3 {
    padding-left: 10px;
    font-size: 18px;
    line-height: 25px;
  }
  .trial__php {
    width: 80px;
  }
  .trial__developer_img {
    width: 100px;
    height: 75px;
  }
  .trial__developer_type {
    width: 200px;
    height: 75px;
  }
}
.trial__btns {
  margin-top: 7px;
}

.bootcamp h2 {
  font-size: 19px;
  margin-top: 85px;
  margin-bottom: 80px;
  padding-left: 40px;
}
.bootcamp img {
  height: 70px;
}
.bootcamp__cards {
  display: flex;
  gap: 20px;
}
.bootcamp__card {
  background-color: var(--light);
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 50px #e3e3e3;
}
.bootcamp__card div {
  font-size: 17px;
  font-family: "Avenir Heavy";
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
@media screen and (max-width: 767px) {
  .bootcamp {
    padding: 0 30px;
  }
  .bootcamp h2 {
    padding-left: 0px;
  }
  .bootcamp__card {
    margin-bottom: 30px;
    min-width: 100%;
  }
  .bootcamp__cards {
    flex-direction: column;
  }
}

.journey {
  margin-top: 28px;
}
.journey h2 {
  font-size: 19px;
}
.journey__icon {
  color: var(--light_grey);
  font-size: 25px;
  padding: 4px 0;
}
.journey__header {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
.journey__number {
  color: var(--alert);
  font-size: 30px;
  font-family: "Avenir Heavy";
  font-weight: bold;
}
.journey__text {
  font-size: 17px;
  padding-top: 6px;
  color: var(--light_grey);
}
@media screen and (max-width: 767px) {
  .journey {
    padding: 0 30px;
  }
}

.divider {
  margin: 40px 0;
  border: 1px solid var(--slate);
}

.get_info h2 {
  font-size: 19px;
  margin-bottom: 25px;
}
.get_info p {
  color: var(--light_grey);
  font-size: 17px;
  margin-bottom: 25px;
}
.get_info__cta {
  display: flex;
  gap: 15px;
}
.get_info__cta .btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid var(--alert);
}
@media screen and (max-width: 767px) {
  .get_info {
    padding: 0 30px;
  }
  .get_info__cta a {
    margin-bottom: 10px;
  }
}/*# sourceMappingURL=main.css.map */