// Custom CSS Styles for get info section
.get_info {
  h2 {
    font-size: 19px;
    margin-bottom: 25px;
  }

  p {
    color: var(--light_grey);
    font-size: 17px;
    margin-bottom: 25px;
  }

  &__cta {
    display: flex;
    gap: 15px;
    .btn {
      padding: 10px 20px;
      border-radius: 10px;
      border: 1px solid var(--alert);
    }
  }

  // Custom CSS Styles for get info section for mobile devices
  @media screen and (max-width: 767px) {
    padding: 0 30px;

    &__cta {
      a {
        margin-bottom: 10px;
      }
    }
  }
}
