// .box {
//   border: 1px red dotted;
// }
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--dark_light);
}

.btn {
  font-family: "Avenir Heavy";
  padding: 10px 0px;
}

.btn-danger {
  color: var(--light);
  background-color: var(--alert);
  border: 0px;
}

.btn-danger:hover {
  background-color: var(--alert);
  opacity: 0.8;
}

.btn-danger:active {
  color: var(--light);
  background-color: var(--green);
  border: 0px;
  opacity: 0.8;
}

.btn-danger.active {
  color: var(--light);
  background-color: var(--green);
  border: 0px;
}

.btn-danger:focus {
  color: var(--light);
  background-color: var(--green);
  border: 0px;
}

.btn-primary {
  color: var(--alert);
  background-color: var(--dark_light);
  border: 2px solid var(--alert);
}

.btn-primary:hover {
  background-color: var(--alert);
  border: 0px;
}

.btn-primary:focus {
  background-color: var(--alert);
  border: 0px;
}

.btn-primary:active {
  background-color: var(--alert);
  border: 0px;
}

.btn-primary.active {
  background-color: var(--alert);
  border: 0px;
}

.btn-warning {
  color: var(--danger);
  background-color: var(--light);
  border: 2px solid var(--danger);
}

.btn-warning:hover {
  color: var(--light);
  background-color: var(--danger);
  border: 2px solid var(--danger);
}

.btn-warning:active {
  color: var(--light);
  background-color: var(--danger);
  border: 2px solid var(--danger);
}

.btn-warning.active {
  color: var(--light);
  background-color: var(--danger);
  border: 2px solid var(--danger);
}

.btn-warning:focus {
  color: var(--light);
  background-color: var(--danger);
  border: 2px solid var(--danger);
}

.glyphicon {
  top: 0px;
  font-size: 10px;
}

.navbar-default {
  background-color: var(--light-light);
  border-color: #e7e7e7;
}

.page_content {
  padding-bottom: 230px;
}
