.box {
  border: 1px red dotted;
}

h3 {
  font-family: "Avenir Light";
}

h4 {
  font-family: "Avenir Heavy";
}

p {
  font-family: "Avenir Light";
}

body {
  background-color: var(--dark_light);
}

.btn {
  font-family: "Avenir Heavy";
}

.btn-danger {
  color: var(--light);
  background-color: var(--alert);
  border: 0px;
}

.btn-danger:hover {
  background-color: var(--green);
}

.btn-primary {
  color: var(--alert);
  background-color: var(--dark_light);
  border: 2px solid var(--alert);
}

.btn-primary:hover {
  background-color: var(--alert);
  border: 0px;
}

.btn-warning {
  color: var(--danger);
  background-color: var(--light);
  border: 2px solid var(--danger);
}

.btn-warning:hover {
  color: var(--light);
  background-color: var(--danger);
  border: 2px solid var(--danger);
}

.btn-warning:active {
  color: var(--light);
  background-color: var(--danger);
  border: 2px solid var(--danger);
}

.btn-warning.active {
  color: var(--light);
  background-color: var(--danger);
  border: 2px solid var(--danger);
}

.btn-warning:focus {
  color: var(--light);
  background-color: var(--danger);
  border: 2px solid var(--danger);
}

.glyphicon {
  top: 0px;
  font-size: 10px;
}
