.navigation {
  margin-bottom: 75px;
  background-color: var(--light);
  &__logo {
    padding-top: 20px;
  }

  &__title {
    padding-top: 18px;
    font-size: 18px;
    font-weight: bold;
  }

  &__title--big {
    color: var(--alert);
  }

  &__title--sm {
    font-size: 16px;
  }

  &__profile {
    font-weight: normal;
    font-size: 17px;
    color: var(--dark);
  }

  @media screen and (min-width: 400px) {
    &__title--big {
      padding-left: 50px;
    }
  }

  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
  }
}

.box {
  border: 1px red dotted;
}
