// Custom CSS Styles for Trial section
.trial {
  background-color: var(--light);
  padding: 50px 40px;
  box-shadow: 5px 5px 50px #e3e3e3;

  &__rchevron {
    margin-left: 10px;
  }

  &__tick {
    margin-left: 10px;
  }

  &__progress {
    font-family: "Avenir Light";
  }

  &__urblock {
    display: flex;
    flex-flow: column wrap;
    gap: 22px;
  }

  &__btns {
    margin-top: 17px;
  }

  &__btn {
    margin-top: 13px;
  }

  &__lwblock_h {
    margin-top: 55px;
    margin-bottom: 3px;
    padding-left: 40px;
  }

  &__developer {
    padding-left: 15px;
  }

  &__developer_type {
    width: 250px;
    height: 93.75px;
  }

  &__developer_img {
    width: 125px;
    height: 93.75px;
  }

  &__developer_boxes {
    margin-top: 29px;
  }

  &__heading {
    font-size: 28px;
  }

  // Custom CSS Styles for Trial section for mobile devices
  @media screen and (max-width: 767px) {
    margin-top: 10px;
    &__urblock {
      margin-left: 0px;
      h3 {
        padding-left: 10px;
        font-size: 18px;
        line-height: 25px;
      }
    }

    &__php {
      width: 80px;
    }

    &__developer_img {
      width: 100px;
      height: 75px;
    }

    &__developer_type {
      width: 200px;
      height: 75px;
    }
  }

  &__btns {
    margin-top: 7px;
  }
}
