.trial {
  background-color: white;
  padding: 50px 40px;
  box-shadow: 5px 5px 50px #e3e3e3;

  &__rchevron {
    margin-left: 10px;
  }

  &__tick {
    margin-left: 10px;
  }

  &__divider {
    margin: 60px 0 37px 0;
    @media screen and (max-width: 767px) {
      padding-left: 10px;
      margin: 30px 0 17px 0;
    }
  }

  &__progress {
    font-family: "Avenir Light";
  }

  &__urblock {
    margin-left: -50px;
    margin-top: -20px;
    display: flex;
    flex-flow: column wrap;
    gap: 22px;
    @media screen and (max-width: 767px) {
      margin-left: 0px;
    }
    h3 {
      @media screen and (max-width: 767px) {
        padding-left: 10px;
      }
    }
  }

  &__php {
    @media screen and (max-width: 991px) {
      width: 100px;
    }
  }

  &__btns {
    margin-top: 17px;
    @media screen and (max-width: 767px) {
      margin-top: 7px;
    }
  }

  &__btn {
    margin-top: 13px;
  }

  &__lwblock_h {
    margin-top: 55px;
    margin-bottom: 3px;
    padding-left: 40px;
  }

  &__developer {
    padding-left: 15px;
  }

  &__developer_type {
    @media screen and (min-width: 767px) {
      width: 200px;
      height: 75px;
    }
    width: 250px;
    height: 93.75px;
  }

  &__developer_img {
    @media screen and (min-width: 767px) {
      width: 100px;
      height: 75px;
    }
    width: 125px;
    height: 93.75px;
  }

  &__developer_boxes {
    margin-top: 29px;
  }
}
