:root {
  --danger: #e75625;
  --alert: #ee572a;
  --light: #ffffff;
  --dark_light: #fafafa;
  --dark: #000000;
  --light_dark: #272727;
  --slate: #e8e8e8;
  --light_grey: #989898;
  --dark_grey: #5f5f5f;
}
